<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery Delivery App  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2021-present initappz.
 -->
<header *ngIf="util.deviceType ==='desktop'" class="fixed-top">
  <div class="container-fluid first-nav">
    <div class="container ">
      first header
    </div>

  </div>

  <div class="container-fluid second-nav">
    <div class="container ">
      second header
    </div>
  </div>
</header>
